.timestamp {
    text-align: left;
    width: 95%;
    color: gray;
    margin: 4px 8px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}
.comment-input-container {
    width: 100%;
    text-align: left;
    margin: 10px 8px;
}
.comment-input {
    width: 94%;
    outline: none;
    border: red;
}
.comment {
    margin: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment > p {
    margin: 0;
}
.delete-icon {
    color: darkred;
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
