.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px 40px;
}
.title-login {
    width: 100%;
    justify-content: center;
    text-align: center;
    color: darkslategrey;
    margin-top: 120px;
    padding-bottom: 30px;
    font-weight: normal;
    font-size: 40px;
    border-bottom: 1px solid #527979;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.form-input {
    width: 200px;
    height: 20px;
    padding: 4px 10px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #527979FF;
    outline: none;
    border-radius: 4px;
    color: #527979FF;
}
.login-button {
    width: 100%;
    color: #527979;
    background-color: rgba(101,150,150, 0.1);
    border: 1px solid #659696;
    border-radius: 4px;
    outline: none;
    padding: 5px 0;
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.error {
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
    padding: 5px 0;
    border: 1px solid red;
    border-radius: 6px;
}
