.post-container {
    width: 400px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    color: #000;
    padding: 2px;
    margin-top: 20px;
    font-size: 12px;
    border-radius: 3px;
}
.image-container {
    text-align: left;
}
.comments {
    text-align: left;
}
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin: 6px;
}
.profile-image {
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    border-radius: 40px;
}
.image {
    width: 100%;
    height: fit-content;
    background-color: red;
    border-radius: 2px;
}
.icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 2px 8px;
    font-size: 18px;
}
.likes {
    margin: 2px 8px;
}
